body {
    margin: 0;
    padding: 0;
}

.landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/assets/backgrounds/h_img.jpg");
    min-height: 40rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/assets/backgrounds/s_image.jpg");
    height: 50vh;
    text-align: center;
    background-size: cover;

}

 #form {
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/assets/backgrounds/c_image.jpg");
     background-position: center;
     background-repeat: no-repeat;
     height: 50vh;
 }

 #email,
 #name,
 #text-message {
     background-color: transparent;
 }

 ::-webkit-input-placeholder {
     color: white;
 }

 #product,
 #dev,
 #design {
     display: none;
 }

 .portfolio-img {

     position: relative;

 }